rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Default deny
    match /{document=**} {
      allow read, write: if false;
    }

    function isSignedIn() {
      return request.auth != null;
    }

    match /clients/{clientId} {
      allow read, write: if true;
    }

    match /cases/{caseId} {
      allow read, write: if true;
    }

    match /templates/{templateId} {
      allow read, write: if true;
    }

    match /events/{eventId} {
      allow read, write: if true;
    }

    match /settings/{settingId} {
      allow read, write: if true;
    }
  }
}
